body{
    font-size: font-family 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
    padding: 1%;
}
div{
    padding: 5%;
}
.orange{
    color: orange;
}
section{
    display: flex;
}
.sayem{
    width: 40%;
    padding: 5%;
}
.sayem img{
    width: 50%;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    border-radius: 6%;
    color: white;
    font-weight: 400;
    padding: 10px 40px;
}